---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import { add, format } from 'date-fns';
import { getTags } from 'src/utils/tags';

export async function getStaticPaths() {
	const tags = await getTags();

	return tags.map((tag) => ({
		params: { tag: tag.slug },
		props: { tagName: tag.value },
	}));
}

const { tag }: { tag?: string } = Astro.params;
const { tagName } = Astro.props;

const posts = await getCollection('blog', ({ data }) => {
	if (!tag) {
		return false;
	}

	if (tag === 'all') {
		return true;
	}

	return data.tags.includes(tagName);
});

posts.sort(
	(a, b) =>
		Date.parse(String(b.data.pubDate)) - Date.parse(String(a.data.pubDate))
);
---

<Layout title={`Blog - ${tagName}`}>
	<h1>All posts tagged: {tagName}</h1>
	<ul>
		{
			posts.map((post) => (
				<li>
					<a href={`/blog/${post.id}`}>{post.data.title}</a> -
					<span>
						{format(
							add(new Date(post.data.pubDate), { hours: 6 }),
							'MMM do, y'
						)}
					</span>
				</li>
			))
		}
	</ul>
</Layout>

<style lang="scss">
	ul {
		list-style: none;
	}
</style>
