---
import { format, add } from 'date-fns';
import { getCollection } from 'astro:content';
import { Tag as TagEnum } from '../../types';

import Layout from '@layouts/Layout.astro';

const { tag }: { tag?: TagEnum } = Astro.params;

const page = Number.parseInt(Astro.url.searchParams.get('page') || '1');
const prevPage = page - 1;
const nextPage = page + 1;

const posts = await getCollection('blog', ({ data }) => {
	if (!tag) {
		return false;
	}

	if (tag === TagEnum.all) {
		return true;
	}

	return data.tags.includes(tag);
});

if (posts.length === 0) {
	return Astro.redirect('/404');
}

posts.sort(
	(a, b) =>
		Date.parse(String(b.data.pubDate)) - Date.parse(String(a.data.pubDate))
);

const totalPosts = posts.length;

const start = (page - 1) * 10;
const end = page * 10;

const displayPosts = posts.slice(start, end);
---

<Layout title="Blog Archive">
	{
		displayPosts.map(({ slug, data }) => (
			<div class="archive-post">
				<a href={`/posts/${slug}`}>{data.title}</a>
				<span>
					{format(add(new Date(data.pubDate), { hours: 6 }), 'MMM do, y')}
				</span>
			</div>
		))
	}
	<div class="navigation">
		<div>
			{page === 1 ? null : <a href={`?page=${prevPage}`}>← Previous</a>}
		</div>
		<div>
			{end >= totalPosts ? null : <a href={`?page=${nextPage}`}>Next →</a>}
		</div>
	</div>
</Layout>

<style>
	.archive-post {
		display: flex;
		justify-content: space-between;
	}
	.archive-post:not(:last-of-type) {
		margin-bottom: 26px;
	}
	.archive-post a {
		max-width: 400px;
		font-weight: bold;
	}

	.navigation {
		max-width: 400px;
		margin: auto;
		display: flex;
		padding: 30px;
		justify-content: space-between;
	}

	@media screen and (max-width: 800px) {
		.archive-post {
			flex-direction: column;
		}
	}
</style>
