@font-face {
	font-family: 'Noto Sans';
	src: url('./fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Serif';
	src: url('./fonts/NotoSerif-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Maple Mono';
	src: url('./fonts/MapleMono-VariableFont_wdth,wght.ttf') format('truetype');
}
