@font-face {
	font-family: 'Noto Sans';
	src: url('./fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Serif';
	src: url('./fonts/NotoSerif-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
	font-family: 'JetBrainsMono';
	src: url('./fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
}
