img {
  border-radius: 5px;
}

.blog-header {
  display: flex;
  justify-content: space-between;
}

.blog-header h5 {
  font-size: 1rem;
  font-weight: normal;
}

@media (max-width: 768px) {
  .blog-header {
    flex-direction: column;
    justify-content: left;
  }
}
