@use './variables.scss' as *;
@use 'fonts.scss';

:root {
	--blue: #{$blue};
	--sky: #{$sky};
	--red: #{$red};
	--orange: #{$orange};
	--text: #{$text};
	--highlight: #{$highlight};
	--background: #{$background};
	--border: #{$border};
	--font: #{$serif-font};
	--mono-font: #{$mono-font};
}

body.theme-dark {
	--blue: #{$dark-blue};
	--sky: #{$dark-sky};
	--red: #{$dark-red};
	--orange: #{$dark-orange};
	--text: #{$dark-text};
	--background: #{$dark-background};
	--border: #{$dark-border};
}

body.monospace-text {
	--font: #{$mono-font};
}

body {
	color: var(--text);
	background-color: var(--background);
	font-family: var(--font);
	font-size: 1.1rem;
	margin: 0;
	padding: 0;
}

main {
	max-width: 800px;
	margin: auto;
	padding: 0 1rem;
	margin-top: 100px;
}

a {
	color: var(--blue);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

main p {
	line-height: 1.5;
}

/* Article image style */

article img {
	border-radius: $radius;
	display: block;
	margin: auto;
	max-width: $max-page-width;
	height: auto;
}

/* Typography */

.footnotes {
	font-size: 1rem;
}
.footnotes p {
	display: inline;
}

blockquote {
	border-left: 4px solid;
	border-color: var(--text);
	margin-left: 1rem;
	padding-left: 2rem;
	font-style: italic;
}

code {
	color: var(--orange);
	padding: 1px 4px;
	margin: 0 2px;
	user-select: all;
}

kbd {
	border: var(--border);
	border-radius: $radius;
	padding: 1px 4px;
	white-space: nowrap;
}

code,
kbd {
	font-family: var(--mono-font);
	font-size: 0.85rem;
}

/* Icon button */

.icon-button {
	background: none;
	padding: 2px 2px -2px;
	border: none;
	line-height: 1;
	aspect-ratio: square;
	height: 24px;
	width: 24px;

	&:active {
		opacity: 0.3;
	}

	& svg {
		color: var(--text);
	}
}

/* shiki */

.astro-code,
.astro-code span {
	background-color: var(--background) !important;
	/* Optional, if you also want font styles */
	font-family: var(--mono-font);
	font-style: var(--shiki-light-font-style);
	font-weight: var(--shiki-light-font-weight);
	text-decoration: var(--shiki-light-text-decoration);
}

.theme-dark .astro-code,
.theme-dark .astro-code span {
	color: var(--shiki-dark) !important;
}
