@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "Lora", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}

img {
  border-radius: 5px;
}

.blog-header {
  display: flex;
  justify-content: space-between;
}

.blog-header h5 {
  font-size: 1rem;
  font-weight: normal;
}

@media (max-width: 768px) {
  .blog-header {
    flex-direction: column;
    justify-content: left;
  }
}
