@use './variables.scss' as *;
@use 'fonts.scss';

:root {
	--blue: #1e66f5;
	--sky: #04a5e5;
	--red: #d20f39;
	--orange: #fe640b;
	--text: #40360e;
	--highlight: #ffeebd;
	--background: #fffdf5;
	--border: #{$border-style} #8f7a20;
	--font: 'Noto Sans', sans-serif;
	--mono-font: 'Maple Mono', monospace;
}

.theme-dark {
	--blue: #5da7fb;
	--sky: #00b0f5;
	--red: #f38ba8;
	--orange: #fab387;
	--text: #c4caed;
	--background: #2a2c32;
	--border: #{$border-style} #505160;
}

.serif-text {
	--font: 'Noto Serif', serif;
}

body {
	color: var(--text);
	background-color: var(--background);
	font-family: var(--font);
	font-size: 1.1rem;
	margin: 0;
	padding: 0;
}

main {
	max-width: 800px;
	margin: auto;
	padding: 0 1rem;
	margin-top: 100px;
}

a {
	color: var(--blue);
	text-decoration: none;

	&:hover {
		opacity: 0.75;
	}
}

main p {
	line-height: 1.5;
}

/* Article image style */

article img {
	border-radius: $radius;
	display: block;
	margin: auto;
	max-width: $max-page-width;
	height: auto;
}

/* Typography */

.footnotes {
	font-size: 1rem;
}
.footnotes p {
	display: inline;
}

blockquote {
	border-left: 4px solid;
	border-color: var(--text);
	margin-left: 1rem;
	padding-left: 2rem;
	font-style: italic;
}

code {
	color: var(--orange);
	padding: 1px 4px;
	margin: 0 2px;
	user-select: all;
}

kbd {
	border: var(--border);
	border-radius: $radius;
	padding: 1px 4px;
	white-space: nowrap;
}

code,
kbd {
	font-family: var(--mono-font);
	font-size: 0.85rem;
}

/* Icon button */

.icon-button {
	background: none;
	padding: 2px 2px -2px;
	border: none;
	line-height: 1;
	aspect-ratio: square;
	height: 24px;
	width: 24px;

	&:active {
		opacity: 0.3;
	}

	& svg {
		color: var(--text);
	}
}

/* shiki */

.astro-code,
.astro-code span {
	background-color: var(--background) !important;
	/* Optional, if you also want font styles */
	font-family: var(--mono-font);
	font-style: var(--shiki-light-font-style);
	font-weight: var(--shiki-light-font-weight);
	text-decoration: var(--shiki-light-text-decoration);
}

.theme-dark .astro-code,
.theme-dark .astro-code span {
	color: var(--shiki-dark) !important;
}
