---
export const prerender = true;
import Layout from '@layouts/Layout.astro';
---

<Layout title="About">
	<img src="/portrait.jpg" alt="me" class="portrait" />
	<p>My name is <strong>Graham</strong>, a full-stack web developer.</p>
	<p>
		When I'm not writing code, I'm usually enjoying one of my other hobbies;
		video games, board games, music, hiking, photography, art, the list goes
		on...
	</p>
	<p>
		I also like writing about stuff, so I put together this site to share
		whatever's on my mind about the world of tech, gaming, life, web
		development, and whatever else strikes my fancy.
	</p>
	<p>
		If your interested in checking out my web dev projects, check out <a
			href="https://ghall.dev/"
			target="_blank">my portfolio</a
		>.
	</p>
	<p>
		If you want to get in touch, I'm on <a
			rel="me"
			href="https://mastodon.social/@ghalldev"
			target="_blank">Mastodon</a
		>.
	</p>
	<p>
		My portrait was drawn by <a
			href="https://www.nataliavazquezgarcia.com"
			target="_blank">Natalia Vazquez</a
		>.
	</p>
</Layout>

<style>
	.portrait {
		display: block;
		max-width: 250px;
		margin: auto;
		margin-bottom: 26px;
		border-radius: 200px;
	}
</style>
