---
import { formatInTimeZone } from "date-fns-tz";
import Layout from "@layouts/Layout.astro";
import FormattedDate from "@components/FormattedDate.astro";

const posts = await Astro.glob("./posts/*.md");
posts.sort(
  (a, b) =>
    Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate)
);
---

<Layout title="Blog Archive">
  {
    posts.map((post) => (
      <div>
        <a href={post.url}>{post.frontmatter.title}</a> -{" "}
        <FormattedDate date={post.frontmatter.pubDate} />
      </div>
    ))
  }
</Layout>
