---
import { getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";
import FormattedDate from "@components/FormattedDate.astro";

const posts = await getCollection("blog");
---

<Layout title="Blog Archive">
  {
    posts.map(({ slug, data }) => (
      <div>
        <a href={`/posts/${slug}`}>{data.title}</a> -{" "}
        <FormattedDate date={data.pubDate} />
      </div>
    ))
  }
</Layout>
