---
import { Markup } from "astro-remote";

import Layout from "@layouts/Layout.astro";
import BlogHeader from "@components/BlogHeader.astro";

const posts = await Astro.glob("./posts/*.md");
posts.sort(
  (a, b) =>
    Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate)
);
---

<Layout title="Home">
  {
    posts.slice(0, 5).map((post) => (
      <article class="post-preview">
        <div>
          <BlogHeader
            title={post.frontmatter.title}
            date={post.frontmatter.pubDate}
          />
          <Markup content={`<p>${post.compiledContent().split("</p>")[0]}`} />
          <a href={post.url}>Read More</a>
        </div>
      </article>
    ))
  }
  {posts.length < 5 ? null : <a href="/archive">All Posts</a>}
</Layout>
