---
import Drawer from "./Drawer.astro";
import Nav from "./Nav.astro";
---

<header>
  <div class="container">
    <a href="/">ghall.space</a>
    <div>
      <Nav />

      <Drawer />
    </div>
  </div>
</header>

<style lang="scss">
  @use "../../styles/variables.scss" as *;

  header {
    margin-bottom: 20px;
    height: 70px;
    background-color: var(--background);
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
    border-bottom: var(--border);
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: $max-page-width;
    margin: auto;
    padding: 0 16px;
    height: 100%;
  }

  .container > div {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  a {
    font-size: 1.6rem;
    color: var(--text);
    font-weight: bold;
  }
</style>
