---
import { navLinks } from "../../data/nav-links";

const { pathname } = Astro.url;

const pathComponents = pathname.split("/").slice(1);
---

<nav>
  <ul>
    {
      navLinks.map((link) => (
        <li>
          <a
            href={`/${link.path}`}
            class={pathComponents[0] === link.path ? "selected" : null}
          >
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    font-size: 1.15rem;
    font-weight: 600;
  }

  a {
    color: var(--text);
    padding: 5px 10px;
  }

  @media screen and (max-width: 768px) {
    nav {
      display: none;
    }
  }
</style>
