---
import { format, add } from 'date-fns';

import CalendarIcon from '../img/svg/calendar.svg';

interface Props {
	title: String;
	date: Date;
	slug?: String;
}

const { title, date, slug } = Astro.props;
---

<div class="blog-header">
	<h2>
		{slug ? <a href={`/blog/${slug}`}>{title}</a> : title}
	</h2>
	<div>
		<CalendarIcon class="calendar-icon" size={24} />
		{format(add(new Date(date), { hours: 6 }), 'MMM do, y')}
	</div>
</div>

<style>
	.calendar-icon {
		transform: translateY(0.3rem);
	}
</style>
