---
import { format, add } from 'date-fns';
import { Icon } from 'astro-icon/components';

interface Props {
	title: String;
	date: Date;
	slug?: String;
}

const { title, date, slug } = Astro.props;
---

<div class="blog-header">
	<h2>
		{slug ? <a href={`/posts/${slug}`}>{title}</a> : title}
	</h2>
	<h3>
		<Icon size={24} class="calendar-icon" name="calendar" />
		<span>{format(add(new Date(date), { hours: 6 }), 'MMM do, y')}</span>
	</h3>
</div>

<style>
	h2,
	h2 a {
		font-size: 1.4rem;
	}

	h3 {
		display: flex;
		align-items: center;
		gap: 6px;
		font-weight: lighter;
		font-size: 0.3em;
	}
</style>
