---
---

<footer>
  <p>
    Copyright 2022 - <a href="https://ghall.dev">Graham Hall</a>
  </p>
  <p>
    Built with <a href="https://astro.build">Astro</a> and <a
      href="https://picocss.com">Pico.css</a
    >
  </p>
</footer>
