---
import RssIcon from '../assets/svg/rss.svg';
const year = new Date().getFullYear();
---

<footer>
	<p>
		Copyright 2022 - {year}, Graham Hall

		<br />
		Built with <a href="https://astro.build">Astro</a>
	</p>

	<p>
		<a href="/rss.xml"
			><RssIcon class="rss-icon" width={20} height={20} /> Subscribe with RSS</a
		>
	</p>
</footer>

<style>
	footer {
		margin: 4rem 0;
		text-align: center;
	}

	.rss-icon {
		transform: translateY(0.18rem);
	}
</style>
