---
const year = new Date().getFullYear();

interface Props {}
---

<footer>
	<p>
		Copyright {year}, Graham Hall – Built with <a href="https://astro.build"
			>Astro</a
		>
	</p>
	<p>
		<a href="/rss.xml"> Subscribe with RSS</a>
	</p>
	<div id="wcb" class="carbonbadge"></div>
</footer>
<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer
></script>
