---
import Avatar from './Avatar.astro';
const { pathname } = Astro.url;

interface Props {}

interface NavLink {
	label: string;

	path: string;
}

const navLinks: NavLink[] = [
	{ label: 'Blog', path: 'blog' },
	{ label: 'Now', path: 'now' },
	{ label: 'Projects', path: 'projects' },
];

const pathComponents = pathname.split('/').slice(1);
---

<header>
	<a href="/">
		<Avatar size={60} />
	</a>

	<nav>
		{
			navLinks.map((link) => (
				<li>
					<a href={`/${link.path}`}>
						<span>{link.label}</span>
					</a>
					{pathComponents[0] === link.path ? <div class="underline" /> : null}
				</li>
			))
		}
	</nav>
</header>

<style>
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		height: 120px;
	}

	header > h1 > a {
		color: var(--text);
	}

	header > nav {
		display: flex;
		flex-direction: row;
		list-style: none;
		gap: 20px;
		font-size: 1.15rem;
	}

	header > nav > li > a:hover {
		text-decoration: none;
	}

	header > nav > li > .selected {
		font-weight: bold;
	}

	.underline {
		height: 2px;
		width: 100%;
		background-color: var(--orange);
	}
</style>
