---
import UserIcon from './icons/UserIcon.astro'
import Website from './icons/Website.astro'

const { pathname } = Astro.url

const navLinks = [
	{ label: 'Blog', path: '/' },
	{ label: 'About', path: '/about/' },
]
---

<header>
	<h1>Graham's Blog</h1>
	<nav>
		<ul>
			{
				navLinks.map((link) => (
					<li>
						<a
							class={pathname === link.path ? 'active-nav' : null}
							href={link.path}
						>
							{() => {
								switch (link.label) {
									case 'Blog':
										return <Website />
									case 'About':
										return <UserIcon />
								}
							}}
							<span>{link.label}</span>
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</header>
