---
import BlogHeader from "@components/BlogHeader.astro";

interface Props {
  post: Object;
}

const { post } = Astro.props;
const { data, slug } = post;

const preview = post.body.split("\n")[1];
---

<article class="post-preview">
  <div>
    <BlogHeader title={post.data.title} date={post.data.pubDate} />
    <p>{preview}</p>
    <a href={`/posts/${slug}`}>Read More</a>
  </div>
</article>
