---
import BlogHeader from '@components/BlogHeader.astro'
import Tags from '@components/Tags.astro'

interface Props {
	post: Object
}

const { post } = Astro.props
const { data, slug } = post
---

<article class="post-preview">
	<div>
		<BlogHeader title={post.data.title} date={data.pubDate} slug={slug} />
		<Tags tags={data.tags} />
	</div>
</article>
