---
interface Props {
	tags: string[];
}

const { tags } = Astro.props;
---

<span>
	{
		tags.sort().map((tag: string, index: number) => (
			<>
				<a class="tag" href={`/blog/archive/${tag}`}>
					{tag}
				</a>
				{index < tags.length - 1 ? ' | ' : ''}
			</>
		))
	}
</span>
