---
interface Props {
	tags: string[];
}

const { tags } = Astro.props;
---

<span>
	{
		tags.sort().map((tag: string, index: number) => (
			<a class="tag" href={`/archive/${tag}`}>
				{`${tag}${index < tags.length - 1 ? ', ' : ''}`}
			</a>
		))
	}
</span>
