---

---

<div class="sidebar">
	<section>
		<h2>Tags</h2>
		<ul>
			<li>Hello</li>
			<li>Hello</li>
			<li>Hello</li>
			<li>Hello</li>
		</ul>
	</section>
</div>

<style lang="scss">
	.sidebar {
		padding: 16px;
		border: var(--border);
		min-width: 140px;
		margin-left: 14px;
		height: fit-content;
	}
</style>
