@font-face {
	font-family: Noto Sans;
	src: url(./assets/fonts/NotoSans-VariableFont_wdth,wght.ttf)
		format("truetype");
}

@font-face {
	font-family: Noto Serif;
	src: url(./assets/fonts/NotoSerif-VariableFont_wdth,wght.ttf)
		format("truetype");
}

@font-face {
	font-family: JetBrainsMono;
	src: url(./assets/fonts/JetBrainsMono-VariableFont_wght.ttf)
		format("truetype");
}

:root {
	--blue: #1e66f5;
	--sky: #04a5e5;
	--red: #d20f39;
	--orange: #fe640b;
	--text: #4c4f69;
	--background: #fffdf5;
	--radius: 5px;
	--border: 1px solid #ced3f1;
	--max-page-width: 800px;
	--transition: all 0.3s ease-in-out;
}

.theme-dark {
	--blue: #5da7fb;
	--sky: #00b0f5;
	--red: #f38ba8;
	--orange: #fab387;
	--text: #c4caed;
	--background: #2a2c32;
	--border: 1px solid #505160;
}

body {
	color: var(--text);
	background-color: var(--background);
	font-family: "Noto Sans", sans-serif;
	font-size: 1.1rem;
	margin: 0;
	padding: 0;
}

.serif-text {
	font-family: "Noto Serif", serif;
}

main {
	max-width: 800px;
	margin: auto;
	padding: 0 1rem;
	margin-top: 100px;
}

a {
	color: var(--blue);
	text-decoration: none;
}

a:hover {
	opacity: 0.75;
}

main p {
	/* text-align: justify; */
	line-height: 1.5;
}

/* Article image style */

article img {
	border-radius: var(--radius);
	display: block;
	margin: auto;
	max-width: var(--max-page-width);
	height: auto;
}

/* Typography */

.footnotes {
	font-size: 1rem;
}
.footnotes p {
	display: inline;
}

blockquote {
	border-left: 4px solid;
	border-color: var(--text);
	margin-left: 1rem;
	padding-left: 2rem;
	font-style: italic;
}

code {
	color: var(--orange);
	padding: 1px 4px;
	margin: 0 2px;
	user-select: all;
}

kbd {
	border: var(--border);
	border-radius: var(--radius);
	padding: 1px 4px;
	white-space: nowrap;
}

code,
kbd {
	font-size: 0.85rem;
}

/* Icon button */

.icon-button {
	background: none;
	padding: 2px 2px -2px;
	border: none;
	line-height: 1;
	aspect-ratio: square;
}

.icon-button:active {
	opacity: 0.3;
}

.icon-button > svg {
	color: var(--text);
}
